body {
    background: #212529;
    padding-top: 30px;
}

footer {
    color: gray;
    position: absolute;
    bottom: 10px;
    margin: auto;
    text-align: center;
    display: block;
    left: 40%;
    right: 40%;
}

footer a {
    color: darkgray;
}

img{
    max-width: 100%;
}

.jumbotron {
    background: #343a40;
    color: white;
    border-radius: 0;
}

.my-4 {
    border-bottom: 1px solid white;
}

#question-header {
    background: white;
    color: black;
    border: 1px solid darkslategray;
    padding: 15px 30px;
}

.answer{
    background: white;
    color: black;
    padding: 15px 30px;
    border: 3px solid darkslategray;
}

.answer:hover{
    border: 3px solid red;
}

.centering {
    left: 50%;
    right: 50%;
}

.statistics{
    padding-left: 15px;
    border-left: 1px solid dimgray;
}

#image-modal {

    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;

    background: black;
    opacity: 0.9;

    padding-top: 70px;
    margin: auto;


}


.modal-img-holder {

    position: relative;

    vert-align: middle;


}

.modal-img-holder img {

    opacity: 1.0 !important;
    background: white;
    width: 115%;
    height: 115%;

}

.modal-custom {
    border-radius: 0;
    color: white;
    background: #212529;

}
