body {
    background: #212529;
    padding-top: 30px;
}

footer{
    color: white;
}

footer a {
    color: darkgray;
}

footer a:hover{
    color:white;
    text-decoration: none;
}

img{
    max-width: 100%;
}

.jumbotron {
    background: #343a40;
    color: white;
    border-radius: 0;
}

.my-4 {
    border-bottom: 1px solid white;
}

#question-header {
    background: white;
    color: black;
    border: 1px solid darkslategray;
    padding: 15px 30px;
}

.answer{
    background: white;
    color: black;
    padding: 15px 30px;
    border: 4px solid darkslategray;
}


.answer:hover{
    border: 4px solid red;
}

.selection {
    border: 4px solid crimson;
}

.correct{
    border: #34ce57 4px solid;
}

.centering {
    left: 50%;
    right: 50%;
}

.statistics{
    padding-left: 15px;
}

#image-modal {

    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;

    background: black;
    opacity: 0.9;

    padding-top: 70px;
    margin: auto;


}

.hoverable-error{

    background: #820000 !important;
}

.hoverable-error:hover {
    background: #a52208 !important;
}


.modal-img-holder {

    position: relative;

    vert-align: middle;


}

.modal-img-holder img {

    opacity: 1.0 !important;
    background: white;
    width: 115%;
    height: 115%;

}

.modal-custom {
    border-radius: 0;
    color: white;
    background: #212529;

}
